//Шрифты
$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;


//Палитра
$primary-color: #C7133E;
$secondary-color: #FFA5BA;


$text-primary: #000000;
$text-primary-lighten: #907E82;;
$text-secondary: #ffffff;


$bg-hero: #FFB8CA;
$bg-section: #FFF5F6;
$bg-mobilemenu: #E17992;


$border: #e1e1e1;
$border-mobilemenu: #E18298;


$box-shadow-card: rgba(212, 20, 67, 0.1);
